.todo-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .todo-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(97, 231, 19);
  }
  
  .input-group input {
    font-size: 1rem;
  }
  
  .input-group .btn {
    font-weight: bold;
  }
  
  .todo-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .todo-list li span {
    font-weight: normal;
  }
  
  .empty-message {
    font-weight: bold;
    color: #fcff61;
    margin-top: 40px;
    display: block;
  }